body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.noteInput{
    width:50vw;
    height:60vh;
    margin:2vh auto;
    border:2px solid blue;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.noteInput button{
    height:50px;
    width:50px;
    background-color: blue;
    color:white;
    border-radius: 50%;
    outline:none;
    border:none;
    font-size:30px;
}

.notes{
    display: flex;
    flex-wrap: wrap;
}

.noteCard{
    border:2px solid blue;
    width:15vw;
    height:30vh;
    margin:20px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 5px 2px grey;
    padding:2px;
}

